[submodule "externals/multi_modality_creator"]
	path = externals/multi_modality_creator
	url = git@github.com:wwu-mmll/multi_modality_datacreator.git
[submodule "externals/resample"]
	path = externals/resample
	url = git@github.com:wwu-mmll/resample.git
[submodule "externals/photonai_graph"]
	path = externals/photonai_graph
	url = git@github.com:wwu-mmll/photonai_graph.git
[submodule "externals/gists"]
	path = externals/gists
	url = git@github.com:wwu-mmll/gists.git
